body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: pink;
}

body > main > h1 {
  font-size: 6.5rem;
  margin: 40;
  font-weight: 700;
  color: rgb(247, 206, 70);
  text-shadow: 9px 1px .5px rgb(64, 91, 164);
  text-shadow: rgb(64, 91, 164) 0px 0px 10px,   rgb(64, 91, 164) 0px 0px 10px,  
  rgb(64, 91, 164) 0px 0px 10px, rgb(64, 91, 164) 0px 0px 10px,   rgb(64, 91, 164) 0px 0px 10px,   rgb(64, 91, 164) 0px 0px 10px;
}

body > main > img {
  margin: 30px;
  padding-left: 60px;
}

main {
  flex: 1 0 auto;
  text-align: center;
}
  
footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: aqua;
  color: black;
}

nav ul a{
  color: black;
}

nav {
  background-color: aqua;
}

nav .brand-logo {
  color: black;
}